<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.SongListMapper">
    <resultMap id="songList" type="com.it.domain.SongList">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="singer" property="singer"></result>
        <result column="url" property="url"></result>
        <result column="time" property="time"></result>
        <result column="category" property="category"></result>
        <result column="lyric" property="lyric"></result>
        <result column="album" property="album"></result>
    </resultMap>
    <select id="findSongById"  resultMap="songList">
        SELECT * FROM `songlist` where id=#{id}
    </select>
    <select id="findByName" resultMap="songList">
        SELECT * FROM `songlist` where name like CONCAT('%', #{name}, '%')
    </select>
    <select id="findByCategory" resultMap="songList">
        SELECT * FROM `songlist` where category like CONCAT('%', #{category}, '%')
    </select>
    <select id="findAllSong" resultMap="songList">
        SELECT * FROM `songlist`
    </select>
    <insert id="addSong" parameterType="com.it.domain.SongList">
        insert into `songlist`(id,name,singer,url,time,category,lyric,album)
        values (#{id},#{name},#{singer},#{url},#{time},#{category},#{lyric},#{album})
    </insert>

<!--    <delete id="delSong" >-->
<!--        delete from `songlist` where id=#{id}-->
<!--    </delete>-->
</mapper>
